@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 660px) {
     .welcome {
         min-width: 90%;
         padding: 0;
         margin: 0;
     }

     .row {
         flex-wrap: wrap;
         margin: 0;
     }

     .blog-box {
         min-width: 90%;
     }

     img {
        width: 375px;
     }
}

@media only screen and (max-width: 550px) {
    .main-header {
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    img {
        width: 275px;
    }
}

@media only screen and (max-width: 450px) {
    .welcome {
        min-width: 90%;
        padding: 0;
        margin: 0;
    }

    img {
        width: 175px;
    }
}


html, body {
    padding: 0;
    margin: 0;
    background-color: #7C7953;
    font-family: Outfit, helvetica, arial, sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.h1 {
    text-transform: lowercase;
}

.main-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav  li{
    text-transform: lowercase;
    color: inherit;
    padding: 1rem;
}

.main-nav a{
    text-decoration: none;
    color: inherit;
}

.main-nav a:hover {
    color: #4E4C34;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.main-header .stack-name {
    flex: 1;
    order: 3;
    text-transform: lowercase;
}

.main-header .name-cat {
    flex: 1;
    order: 2;
    text-align: end;
    margin: 0;
}

.main-header .name-cummings {
    flex: 1;
    order: 3;
    text-align: end;
    margin: 0;
}

.main-nav {
    flex: 1;
    order: 1;
    margin-top: auto;
}

.welcome {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 2rem;
    height: 300px;
    width: 70%;
}

.row {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

.blog-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    height: 250px;
    background-color: white;
    color: #7C7953;
    width: 250px;
}

.blog-rectangle {
    background-color: white;
    color: #7C7953;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.blog-rectangle a{
    text-decoration: none;
    color: #7C7953;
}

.blog-rectangle a:hover{
    color:#4E4C34;
}

.blog-box a{
    text-decoration: none;
    color: #7C7953;
}

.blog-box a:hover {
    color: #4E4C34;
    cursor: pointer;
}

.blog content p {
    text-align: justify;
}

img {
    max-width: 500px;
    vertical-align: middle;
}

.blog-content {
    background-color: white;
    color: #7C7953;
    width: 100%;
    padding: 0 20px;
    margin: 10px 0;
}
